body {
    background-image: url('../images/Marvelwallpaper3.jpg') !important;
    background-attachment: fixed;
    background-size: cover;
    }
#time-left, #quiz, #results{
    color: aliceblue;
}
#time-left {
    text-align: center
}

.intro {
    color: red;
    text-align: center;
}

.questionLine {
    font-weight: bold;
    font-size: 150%;
    text-decoration: underline;
}

.answerLine {
    font-size: 100%;
}

h1 {
    color: red;
}